<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column></nb-layout-column>
  <nb-layout-column>
    <nb-flip-card>
      <nb-card-front>
        <nb-card>
          <nb-card-body>
            <img src="../../assets/com_minha_mae.jpeg" class="img-fluid" width="300">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-body>
            <div class="d-flex">
              <p class="text-justify">Gosta de curtir momentos em família, especialmente ao lado de sua mãe, sua principal fonte de inspiração.</p>
            </div> 
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
  <nb-layout-column>
    <nb-flip-card>
      <nb-card-front>
        <nb-card>
          <nb-card-body>
            <img src="../../assets/tocando_violino.jpeg" class="img-fluid" width="300">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <nb-card-body>
            <div class="d-flex">
              <p class="text-justify">Uma das maiores alegrias que tenho é poder dizer que sou músico, pois para chegar onde cheguei batalhei muito e pretendo continuar batalhando para me tornar um músico cada vez melhor.</p>
            </div> 
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-layout-column>
  <nb-layout-column></nb-layout-column>

</nb-layout>
