<nb-layout>
  <nb-layout-header>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"*ngFor="let img of listImg, let i = index">
        <nb-flip-card>
          <nb-card-front>
            <nb-card class="card-flip">
              <nb-card-body>
                <img src="{{img.img}}" class="img-fluid" alt="Fotos de Yuri">
              </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card>
              <nb-card-body>
                <p>{{img.text}}</p>
              </nb-card-body>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <nb-card>
          <nb-card-body>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti autem incidunt, rem quo, quod explicabo laboriosam velit minima molestias atque accusamus, voluptatum ullam labore porro consectetur optio perferendis expedita. Sequi.
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>